<a href="https://colab.research.google.com/github/01fe21bec088/Python_for_ML/blob/main/class_test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q5

In [2]:
def check(num):
  if num%3==0:
    print(num,"dividible by 3")
  if num%7==0:
    print(num,"dividible by 7")
  if num%9==0:
    print(num,"dividible by 9")
  if num%11==0:
    print(num,"dividible by 11")

num=int(input("enter the number: "))
n=num
flag=0
for i in range(1,n,1):
  if num%i==0:
    flag+=1
if flag>1:
  check(num)
else :
  print("prime")

enter the number: 62003
prime

Q6 palindrome

In [12]:
str1=str(input())
rev_str=reversed(str1)
if list(str1)==list(rev_str):
  print("palindrome")
else:
  print("not palindrome")

string
not palindrome

Q7 odd and even

In [31]:

list1=[]
liste=[]
listo=[]

for i in range(0,10,1):
  num=int(input())
  list1.append(num)
  if num%2==0:
    liste.append(num)
  else:
    listo.append(num)

print(list1)
print(liste)
print(listo)

6
646
864
8647
34
64
23
741
42
00
[6, 646, 864, 8647, 34, 64, 23, 741, 42, 0]
[6, 646, 864, 34, 64, 42, 0]
[8647, 23, 741]

Q8 pattern

In [1]:
def pattern(x):
  for i in range(x):
    print("*",end=" ")

  print(" ")

key=int(input())
for j in range(0,key+1,1):
  pattern(j)

5

*
* *
* * *
* * * *
* * * * *